@media screen and (max-width: 960px) {
    #app {
        width: 100vw;
    }

    #modal {
        width: 90vw;
    }
}

@media screen and (min-width: 960px) {
    #app {
        width: 960px;
    }

    #modal {
        width: 864px;
    }
}

@media screen and (max-width: 720px) {
    #checkArea {
        font-size: calc(100vw / 45);
    }

    .cell {
        min-height: calc(100vw / 12);
    }
}

@media screen and (min-width: 720px) {
    #checkArea {
        font-size: 16px;
    }

    .cell {
        min-height: 60px;
    }
}

* {
    margin: 0px;
    padding: 0px;
}

#menuBar {
    width: 100%;
    height: auto;
    background-color: rgb(0, 148, 185);
    box-sizing: border-box;
}

#menuBar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menuBar li {
    list-style: none;
}

#menuBar a {
    display: block;
    color: white;
    margin: 5px;
}

#app {
    margin-left: auto;
    margin-right: auto;
}

#logoArea {
    text-align: center;
}

#logo {
    width: 100%;
    max-width: 452px;
}

#infoArea {
    text-align: center;
    border-radius: 3px;
}

#modeInfoArea {
    width: 100%;
    display: flex;
    box-sizing: border-box;
}

#modeInfoArea div {
    width: 50%;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#guessArea {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    box-sizing: border-box;
    text-align: center;
}

#selectGuess {
    display: inline-block;
    border-radius: 5px;
    margin-left: auto;
}

#buttonGuess {
    margin-right: auto;
    width: 20%;
}

#checkGrid {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr 5fr 3fr 5fr;
    gap: 2px;
}

.row, #checkGridHeader, #checkGridBody {
    display: contents;
}

.header, .cell {
    border-radius: 3px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.header {
    background-color: #a5f9ff;
    grid-row: 1;
    font-weight: bold;
}

.cell {
    width: 100%;
}

.studentNameCol {
    grid-column: 1;
}

.weaponTypeCol {
    grid-column: 2;
}

.classCol {
    grid-column: 3;
}

.schoolCol {
    grid-column: 4;
}

.attackTypeCol {
    grid-column: 5;
}

.implDateCol {
    grid-column: 6;
}

.same {
    background-color: #aaffaa;
}

.wrong {
    background-color: #ffaaaa;
}

.fold {
    visibility: hidden;
    height: 0px;
}

#infoButtonArea button {
    margin: 5px;
    width: 140px;
}

#modal, #modalOverlay {
    display: none;
    position: fixed;
}

#modal {
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    z-index: 101;
    text-align: left;
    border: solid 1px #181818;
    overflow-y: scroll;
}

#modalOverlay {
    width: 100%;
    height: 100%;
    background: grey;
    opacity: .6;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

#modalClose {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 30px;
    left: calc(100% - 50px);
    width: 40px;
    height: 0px;
    font-size: 40px;
    color: #414141;
    cursor: pointer;
}

#modalInner {
    margin: 30px;
}

#modalInner div {
    margin-bottom: 15px;
}

#modalInner ul, #modalInner ol {
    padding-left: 20px;
}

#modal.open, #modalOverlay.open {
    display: block;
}

.select2-results , .select2-results__options {
    max-height: 40vh !important;
}